<template>
    <div>
        <v-container>
            <v-alert type="info">I'm Vuetify Component VAlert</v-alert>
            <v-btn link to="/foo">Load Foo</v-btn>
            <v-btn link to="/bar">Load Bar</v-btn>
            <v-btn link to="/user/imran">Load User</v-btn>
        </v-container>
        <v-container>
            <router-view></router-view>
        </v-container>
    </div>    
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
